<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<!-- Database Connection Settings -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Recuperacio</property>
		<property name="hibernate.connection.username">admin</property>
		<property name="hibernate.connection.password">localhost-1</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="show_sql">true</property>

		<!-- Specifying Session Context -->
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

		<!-- Mapeado 
			La base es <mapping class="direccion.clase"/>
		 -->
		 <mapping class="database.Clients"/>
		 <mapping class="database.ComandaClient"/>
		 <mapping class="database.Lot"/>
		 <mapping class="database.Producte"/>
		 <mapping class="database.Proveidors"/>
		 <mapping class="database.Direccio"/>
		 <mapping class="database.PeticionsProveidor"/>
		
	</session-factory>
</hibernate-configuration>
